* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
}

img {
  max-width: 100%;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 3rem auto;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.btn-dark {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

/* #region header */

header {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
  position: relative;
}

header > .title {
  font-size: 3.5rem;
  text-transform: uppercase;
}

header .cart-wrapper .cart {
  list-style: none;
}

header > .cart-wrapper {
  position: fixed;
  z-index: 2;
  top: 0.5rem;
  right: 0.5rem;
  background-color: black;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

header .cart-wrapper .total {
  font-weight: bolder;
}

/* #endregion header */

/* #region main */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: calc(100% / 3 - 2rem);
  margin: 1rem;
  padding: 0.5rem 0 2rem;
  text-align: center;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 0 10px gray;
  position: relative;
}

.product img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.product .product_details {
  border-top: 1px solid gainsboro;
  padding: 1rem;
}

.product .price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.product .likes {
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

/* #endregion main */

/* #region footer */

footer {
  background-color: black;
  padding: 2rem;
  text-align: center;
  color: white;
}

/* #endregion footer */
